#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "CommandRunner.manifest"
IDI_COMMAND_RUNNER ICON "CommandRunner.ico"

IDD_COMMAND_DIALOG DIALOGEX 0, 0, 430, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Add Command"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "&Name:", IDC_COMMAND_NAME_LABEL, 8, 10, 104, 14
    EDITTEXT        IDC_COMMAND_NAME, 120, 8, 300, 18, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "&Working Directory:", IDC_COMMAND_WORKING_DIRECTORY_LABEL, 8, 36, 104, 14
    EDITTEXT        IDC_COMMAND_WORKING_DIRECTORY, 120, 34, 224, 18, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Browse...", IDC_COMMAND_BROWSE, 350, 33, 70, 20, WS_TABSTOP
    LTEXT           "&Output Encoding:", IDC_COMMAND_ENCODING_LABEL, 8, 62, 104, 14
    COMBOBOX        IDC_COMMAND_ENCODING, 120, 60, 112, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "S&hell", IDC_COMMAND_SHELL, 120, 87, 80, 18, WS_TABSTOP
    AUTOCHECKBOX    "&Auto Start", IDC_COMMAND_AUTO_START, 210, 87, 100, 18, WS_TABSTOP
    LTEXT           "Command &Line:", IDC_COMMAND_LINE_LABEL, 8, 116, 104, 14
    EDITTEXT        IDC_COMMAND_LINE, 120, 114, 300, 72, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&Save", IDC_COMMAND_SAVE, 330, 193, 42, 20, WS_TABSTOP
    PUSHBUTTON      "&Cancel", IDC_COMMAND_CANCEL, 378, 193, 42, 20, WS_TABSTOP
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,5,0
 PRODUCTVERSION 0,1,5,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Command Runner contributors\0"
            VALUE "FileDescription", "Native Windows command runner\0"
            VALUE "FileVersion", "0.2.0.0\0"
            VALUE "InternalName", "CommandRunner.exe\0"
            VALUE "LegalCopyright", "Copyright (c) Command Runner contributors\0"
            VALUE "OriginalFilename", "CommandRunner.exe\0"
            VALUE "ProductName", "Command Runner\0"
            VALUE "ProductVersion", "0.2.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
